<!DOCTYPE html>
<html><head><style type="text/css">.turbolinks-progress-bar {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  height: 3px;
  background: #0076ff;
  z-index: 9999;
  transition: width 300ms ease-out, opacity 150ms 150ms ease-in;
  transform: translate3d(0, 0, 0);
}</style>



  <title>Bookers</title><meta name="csrf-param" content="authenticity_token"><meta name="csrf-token" content="0G6OZ75p6JUn5VhhUgl1vcg1F02h9eeYdvNLwxSpShvWoPei4/Sm+ULyYTO2L4oYr7lawwesSAi0gWGyywTNNg=="></head>

  <body>
    <p id="notice"></p>

<h1>Books</h1>
<% @books.each do |book| %>

  <p>Title</p>
  <%= book.title %>
  <%= book.body %>
  <span>
   <%= link_to "show", book_path(book.id) %>
   <%= link_to "Edit", edit_book_path(book.id) %>

   <%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
  </span>


<% end %>



<h2>New book</h2>
<%= form_with model: @book,local:true do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>body</h4>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>
<% end %>




</body></html>